[submodule "rocksdb"]
	path = librocksdb_sys/rocksdb
	url = https://github.com/Benjamin2037/rocksdb.git
	branch = master

[submodule "titan"]
	path = librocksdb_sys/libtitan_sys/titan
	url = https://github.com/tikv/titan.git
	branch = master
